/* CSS HTML elements */
body{
    font-family: 'VT323', monospace;
    /* background-color: red; */
}

div{
    /* border-color: black;
    border-width: 1px;
    border-style: solid; */
    box-sizing: border-box;

    /* background-color: red; */
}
/* CSS IDs */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* Win Window */
#winwindow {
    /* centering */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -35%);
    /* make it show on top */
    z-index: 2;
    /* make it centered */
    /* background-color: white; */
    box-sizing: border-box;
}

/* GuessingBattle id styles */
#guessingBattle {
    /* Calculating height minus the border size */
    height: calc(55vh - 2px);
    position: relative;
    box-sizing: border-box;
}
/*  */

    #battleTopLeft{
        position: absolute;
        left: 0px;
        top: 0px;
        height: 60px;
        border-color: #007bff;
        border-width: 5px;
        border-style: solid;
        border-radius: 10px 0px;
    }
        #unknownWord {
            position: absolute;
            left: 13px;
            top: 10px;
        }

        #hintblock {
            position: absolute;
            right: 10px;
        }

    #battleTopRight{
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: -1;
    }

        #pokemon{
            width: calc(150px + 10vw);
            max-width: 250px;
        }

        /* Classes used to modify pokemon based on difficulty levels */

            .youngster{
                /* image shown in full */
            }

            .trainer{
                filter: grayscale(100%) brightness(0);
                opacity: 0.8;    
            }

            .acetrainer{
                filter: grayscale(100%) brightness(0) blur(8px);
                opacity: 0.8;    
            }
            
            .champion{
                /* No image */
                display: none;
            }

    #battleBottomLeft{
        position: absolute;
        left: 1vw;
        bottom: 0px;
    }

        #player{
            width: calc(100px + 10vw);
            max-width: 200px;
        }
        
    #battleBottomRight{
        position: absolute;
        right: 0px;
        bottom: 0px;
        z-index: 1;
        /* height: 10vh; */
    }

    /* @media (max-width: 450px) {
        #battleBottomRight{
            width: calc(150px + 10vw);
        }
    } */

    @media (max-height: 500px) {
        #pokemon{
            width: calc(20px + 30vh);
        }
        #player{
            width: calc(30vh);
        }
        #whatquestion{
            margin-bottom: 5px
        }
    }


#guessingMenu{
    height: 30vh;
    /* box-sizing: border-box; */
    word-break: break-word;
    overflow-wrap: break-word;
        /* white-space: pre-wrap; */
        /* display: block; */
    border-color: gray;
    border-width: 5px;
    border-style: ridge;
    border-radius: 5px;
}

    .in-line{
        display:inline-block;
    }

    .menuitem {
        height: calc(15vh - 5px);
        /* box-sizing: border-box; */
        /* padding: 0px; */
        margin: 0px;
        border-radius: 0px;
        text-align: left;
    }

#guessingAlphabet{
    height: 15vh;
    box-sizing: border-box;
    border-color: gray;
    border-width: 5px;
    border-style: ridge;
    border-radius: 5px;
    margin-top: 2px;
}


/* CSS generic class styles */
.teststyle{
    background-color: yellow;
}
.hidden{
    display: none;
}

.menuitem{
    /* font-size:x-large; */
}


.menudetail{
    font-size:smaller;
    display: block;
}

@media (max-width: 500px) {
    .menudetail{
        display: none;
    }
    #hintblock {
        bottom: -3px;
        right: 1px;
    }
    .menuitem {
        padding: 2px;
    }
    .h3 {
        font-size: larger;
        padding-top: 5px;
    }
    h2 {
        font-size: larger;
    }
}

/* At small sizes, the window collapses so the keyboard is larger */
@media (max-height: 420px) {
    .menudetail{
        display: none;
    }
    h2{
        font-size: larger;
    }
    #guessingBattle {
        /* Calculating height minus the border size */
        height: calc(50vh - 2px);
    }
    #guessingMenu {
        height: 24vh;
    }
    .menuitem {
        height: calc(12vh - 5px);
    }
    #guessingAlphabet {
        height: 26vh;
    }
}